//
div.banner {
	display: block;
	position: relative;
	width: 100%;
	min-height: 50px;
	background: #2EC4B6;
	overflow: hidden;

	ul {
		position: relative;
		margin: 0;
		padding: 0;
		list-style: none;
		width: 100%;
		height: 14.9rem;

		@media only screen and (min-width: $mobile_size) { // em desktop
			height: 26.3rem;
		}

		li {
			position: absolute;
			margin: 0;
			padding: 0;
			width: 100%;
			list-style: none;
			overflow: hidden;
			background: #011627;
			transition: left 1s linear;

			h1 {
				position: relative;
				font-style: normal;
				font-weight: bold;
				font-size: 2.22rem;
				line-height: normal;
				color: #fff;
				margin: 0;
				padding: 1.2rem;
				cursor: default;

				@media only screen and (min-width: $mobile_size) { // em desktop
					font-size: 2.47rem;
					width: 37%;
					margin: 7.99rem 0 3rem 9rem;
				}

				&:after {
					content: '';
					display: block;
					position: absolute;
					bottom: 0.3rem;
					left: 1.2rem;
					width: 3rem;
					height: 4px;
					background: #FF9F1C;
				}
			}

			img {
				position: absolute;
				background: #2EC4B6;
				opacity: 0.6;
				@media only screen and (min-width: $mobile_size) { // em desktop força ocupar metade
					left: 50% !important;
				}
			}
		}
	}

	div.markers {
		display: block;
		position: absolute;
		width: 100%;
		top: auto;
		left: 1px; right: 1px;
		bottom: 1px;
		text-align: center;
		z-index: 9999;

		span {
			display: inline-block;
			width: 12px;
			height: 12px;
			text-align: center;
			cursor: pointer;

			&:before {
				content: '';
				display: block;
				width: 7.9px;
				height: 7.9px;
				border: none;
				border-radius: 4px;
				background: #BDBDBD;
			}

			&.curr:before { background: $default_yellow; }
		}
	}

	div.arrows {
		display: block;
		position: relative;
		top: 45%;
		width: 99%;
		height: 1px;
		max-width: $max_default_size;
		margin: 0 auto;

		@media only screen and (max-width: $mobile_size) { // esconde quando mobile
			display: none;
		}

		span {
			position: absolute;
			top: -14.9rem;
			right: -0.1rem;
			left: auto;
			width: 1.9rem;
			height: 1.9rem;
			padding: 0;
			color: transparent;
			border: none;
			cursor: pointer;
			background: transparent;
			background-image: url("../../images/arrow-icon.svg");
			background-repeat: no-repeat;
			background-size: contain;
			background-position: 49% 49%;

			&:first-child {
				left: -0.1rem;
				right: auto;
				transform: rotate(180deg);
			}
		}

	}
}
