/**
 * teste-profite
 */

$mobile_size: 812px;
$tablet_size: 979px;
$max_default_size: 1097px;
$default_color: #4a4a4a;

a, a:hover, a:active, a:focus, a:visited,
button, button:hover, button:active, button:focus {
	cursor: pointer;
	text-decoration: none;
	outline: none;
}


body {
	background: #fff;
	color: #000;
	font-family: "Ubuntu", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
	font-size: 16px;
	font-weight: 400;
	line-height: 1.5;
	color: $default_color;
	height: 100%;
	position: relative;
	padding: 0;
	margin: 0;
	word-wrap: break-word;

	// header
	@import "./_header.scss";

	main {
		display: block;
		position: relative;
		margin: 1rem auto 1.3rem;
		width: 100%;

		// home banner
		@import "./_banner.scss";


		div.products {
			display: block;
			width: 90%;
			max-width: $max_default_size;
			min-height: 50px;
			background: #fff;

			>h1 {
				font-family: Ubuntu;
				font-style: normal;
				font-weight: bold;
				font-size: 1.3rem;
				line-height: normal;
			}

			div[data-primeirosProdutos] {
				div {
					display: inline-block;
					border: 1px solid;
					width: 48%;
					margin: 0;
					vertical-align: top;

					img {
						display: block;
						width: 7rem;
					}
					h1 {
						font-size: 1.4rem;
					}
					h2 {
						font-size: 1.2rem;
						font-weight: normal;
					}
					span {
						font-size: 0.9rem;
					}
				}
			}
		}
	}

	footer {
		display: block;
		position: relative;
		margin: 0;
		width: 100%;
		min-height: 50px;
		bottom: 0px;
		background: #011627;
	}

}

